mixin social
    .social
        a(href=facebook, target="_blank").icon-facebook.giro-1
        a(href="https://wa.me/591"+celular+"?text=Me%20gustaría%20obtener%20mas%20información%20del%20restaurante", target="_blank").icon-whatsapp.giro-2
        a(href="https://www.youtube.com/channel/UCHprEuqZpYrGXybfGRlf9-w",target="_blank").icon-youtube.giro-3
        a(href="mailto:info@ichuri.net?subject=Interesado%20en%20obtener%20mas%20informacion%20del%20restaurante", target="_blank").icon-mail2.giro-4
mixin titulo(titulo)
    .title-general
        i(class=attributes.class)
        h2.section-title.title-2 #{titulo}
mixin enlace(texto,url)
    .enlace
        a(href=url)= texto


mixin eventos_recientes
    -var cont=3;
    each evento, index in eventos
            if index < cont
                +evento(evento.title, evento.description,evento.link,evento.img)
mixin evento(titulo, descripcion, enlace,imagen)
    .evento-item
        article.evento
            .evento-title
                h3 #{titulo}
            article.evento-descripcion
                p #{descripcion}
            .btn-evento
                a(href="eventos/"+enlace) Ver Evento
        .evento-img
            .icon-ichuri
                img(src="media/"+isotipo, alt="", srcset="")
            img(src="media/eventos/"+imagen, alt="", srcset="")
mixin servicio(img,title,description,link)
    .servicio-item 
        .img-servicio-item
            img(src="media/header/"+img, alt="")
            img(src="media/"+isotipo).isotipo
        h3.title-item #{title}
        p.parrafo-servicio-item #{description}
        .btn-servicio-item
            a(href="servicios/"+link).btn-primary Ver #{title}