meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

each link in css
    link(rel="stylesheet", href=backlink+'css/'+link)
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

meta(name="description", content=description)
meta(name="keywords", content=keywords)
meta(name="author" content="Cristhian Chauca")

meta(http-equiv="X-UA-Compatible", content="ie=edge")

link(rel="stylesheet", href=backlink+"fonts/icommon/style.css")
link(rel="stylesheet", href=backlink+"fonts/flaticon/flaticon.css")
link(rel="shortcut icon", href=backlink+"media/"+isotipo, type="image/x-icon")

title=page_title + " | " + page