section.section.color-dark
    .title-general
        i.flaticon-menu
    .hr
        .icon.flaticon-cutlery-1
    article.section-article 
        .contenedor-menu
            .contenedor-lista#izquierda
                .lista
                    -var icon_platos = "flaticon-meat"
                    h2 Pasteleria<i class="flaticon-cutlery"></i>
                    h4 Chala Ichuri
                    .platos
                        span <i class='#{icon_platos}'></i>Filete de pollo
                        span <i class='#{icon_platos}'></i>jamón
                        span <i class='#{icon_platos}'></i>queso
                        span <i class='#{icon_platos}'></i>arroz

                .lista
                    h4 Lomo Fundido 
                    .platos
                        span <i class='#{icon_platos}'></i>Carne de lomo
                        span <i class='#{icon_platos}'></i>Queso fundido
                        span <i class='#{icon_platos}'></i>Morrón
                        span <i class='#{icon_platos}'></i>Papa frita
                        span <i class='#{icon_platos}'></i>salsa Ichuri
                .lista
                    h4 Pasta Alfredo
                    .platos
                        span <i class='#{icon_platos}'></i>Espagueti con crema
                        span <i class='#{icon_platos}'></i>jamón
                        span <i class='#{icon_platos}'></i>Queso
                        span <i class='#{icon_platos}'></i>Pan al ajo
                .lista
                    h4 Milanesa Napolitana
                    .platos
                        span <i class='#{icon_platos}'></i>Milanesa de pollo con jamon
                        span <i class='#{icon_platos}'></i>queso
                        span <i class='#{icon_platos}'></i>Arroz
                        span <i class='#{icon_platos}'></i>Papa
                        span <i class='#{icon_platos}'></i>Ensalada
                        span <i class='#{icon_platos}'></i>Salsa de tomate
                .lista
                    h4 Trucha a la Romana
                    .platos
                        span <i class='#{icon_platos}'></i>Trucha rebosada en huevo y harina
                        span <i class='#{icon_platos}'></i>Arroz
                        span <i class='#{icon_platos}'></i>Papa
                        span <i class='#{icon_platos}'></i>Ensalada
                .lista
                    h4 Trucha al Ajillo
                    .platos
                        span <i class='#{icon_platos}'></i>Trucha
                        span <i class='#{icon_platos}'></i>Arroz
                        span <i class='#{icon_platos}'></i>Papa
                        span <i class='#{icon_platos}'></i>Ensalada
                        span <i class='#{icon_platos}'></i>Salsa de ajo
                .lista
                    h4 Chuleta de Cerdo a la Barbacoa
                    .platos
                        span <i class='#{icon_platos}'></i>Chuletas con salsa barbacoa
                        span <i class='#{icon_platos}'></i>Arroz
                        span <i class='#{icon_platos}'></i>Papas
                        span <i class='#{icon_platos}'></i>Ensalada
                .lista
                    h4 Pique Macho
                    .platos
                        span <i class='#{icon_platos}'></i>Carne de res picada
                        span <i class='#{icon_platos}'></i>Salchicha
                        span <i class='#{icon_platos}'></i>Queso
                        span <i class='#{icon_platos}'></i>Pimenton
                        span <i class='#{icon_platos}'></i>Locoto
                        span <i class='#{icon_platos}'></i>Cebolla
                        span <i class='#{icon_platos}'></i>Tomate
                        span <i class='#{icon_platos}'></i>Aceituna
                        span <i class='#{icon_platos}'></i>Papas fritas
                .lista
                    h4 Ensalado Andina
                    .platos
                        span <i class='#{icon_platos}'></i>Lechuga
                        span <i class='#{icon_platos}'></i>Tomate
                        span <i class='#{icon_platos}'></i>Pepino
                        span <i class='#{icon_platos}'></i>Zanahoria
                        span <i class='#{icon_platos}'></i>Morrón
                        span <i class='#{icon_platos}'></i>Queso
                        span <i class='#{icon_platos}'></i>Quinua
                        span <i class='#{icon_platos}'></i>Vino dulce
                .lista
                    h4 Tortillas de Quinua y Verduras
                    .platos
                        span <i class='#{icon_platos}'></i>Totillas de Quinua y verduras
                        span <i class='#{icon_platos}'></i>Arroz
                        span <i class='#{icon_platos}'></i>Ensalada de lechuga, tomate y pepino
            .contenedor-lista#centro-l
                -var icon_desayuno = "flaticon-coffee-cup"
                .lista
                    h2 Desayunos<i class="flaticon-breakfast-1"></i>
                    h4 Desayuno Ichuri
                    .platos
                        span <i class='#{icon_desayuno}'></i>Revuelto de huevo
                        span <i class='#{icon_desayuno}'></i>Jamón
                        span <i class='#{icon_desayuno}'></i>Quinua
                        span <i class='#{icon_desayuno}'></i>Jugo de fruta
                        span <i class='#{icon_desayuno}'></i>Café
                        span <i class='#{icon_desayuno}'></i>Tostadas
                .lista
                    h4 Desayuno Yungueño
                    .platos
                        span <i class='#{icon_desayuno}'></i>Lomo
                        span <i class='#{icon_desayuno}'></i>Arroz
                        span <i class='#{icon_desayuno}'></i>Huevo
                        span <i class='#{icon_desayuno}'></i>Plátano
                        span <i class='#{icon_desayuno}'></i>Pan
                        span <i class='#{icon_desayuno}'></i>Cafe
                .lista
                    h4 Desayuno Continental
                    .platos
                        span <i class='#{icon_desayuno}'></i>Tostadas
                        span <i class='#{icon_desayuno}'></i>Jugo
                        span <i class='#{icon_desayuno}'></i>Cafe
                        span <i class='#{icon_desayuno}'></i>Mantequilla y mermelada
                .lista
                    h4 Desayuno Simple
                    .platos
                        span <i class='#{icon_desayuno}'></i>Pan marraqueta
                        span <i class='#{icon_desayuno}'></i>Té o cafe o mate
                        span <i class='#{icon_desayuno}'></i>Queso
            .contenedor-lista#centro-r
                -var icon_pasteleria = "flaticon-muffin"
                .lista
                    h2 Pastelería<i class="flaticon-muffin"></i>
                    h4 Lorem ipsum dolor sit.
                    .platos
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    .platos
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    .platos
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_pasteleria}'></i>Lorem ipsum dolor sit.
            .contenedor-lista#derecha
                -var icon_bebidas = "flaticon-wine"
                .lista
                    h2 Bebidas<i class="flaticon-cocktail"></i>
                    h4 Lorem ipsum dolor sit. 
                    .platos
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    .platos
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                .lista
                    h4 Lorem ipsum dolor sit.
                    .platos
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
                        span <i class='#{icon_bebidas}'></i>Lorem ipsum dolor sit.
