nav.nav
    .nav-brand
        .nav-logo
            img(src=backlink+"media/"+isotipo, alt="", srcset="")
        .name-brand
            h1 #{page}
    .nav-page#navpage
        ul
            each item in menu
                li
                    a(href=item.link) #{item.text}
                        span(class=item.icon)